#main {
    padding-top: 50px;
    height: 700px;
    text-align: center;
    background-image: url(../img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

#main p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    color: #fff;
    box-shadow: #fff;
}

#texto-home {
    margin-top: 200px;
}

.cartao-senador {
    transition: transform .2s;
}
.cartao-senador:hover {
    transform: scale(1.05);
}

#paginacao {
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    font-weight: 300;
    text-align: center !important;
}

.titulo-card{
    font-weight: 400;
}

.card{
    min-height: 518.73px;
    position: relative;
}

.card-img-top{
    min-height: 316.23px;
}

#titulo-galeria{
    margin-top: 30px;
}

.clicado{
    background-color: #007bff;
    color: #fff; 
}

.modal-body img {
    max-width: 250px;
}

.modal-body span {
    font-size: 1.1rem;
}

.modal-body b {
    font-size: 1.1rem;
}

.modal-header{
    display: block !important;
}

.modal-header .close {
    margin: -1rem -1rem -1rem 0;
    margin-bottom: 9px;
    margin-right: 3px;
}

.modal-footer span {
    margin-right: auto;
}

.jumbotron{
    margin-bottom: 0px !important;
}

#detalhes-senador {
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

#link-parlamentar {
    color: #fff !important;
    margin-right: auto;
}

#filtro {
    text-align: center;
    margin-bottom: 20px;
}

#botoes-filtro {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#select-estados, #select-partidos{
    margin-bottom: 8px;
}

#partido-sigla {
    margin-left: 15px;
}

html {
    min-width: 390px;
}

#sticky-footer {
    flex-shrink: none;
  }

@media screen and (max-width: 770px) {
    #periodo {
      text-align: left !important;
    }
  }